In [6]:
# Library imports / set up
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# display is required to allow multiple prints in each cell
from IPython.display import display
import numpy as np

In [7]:
# Data is read
dc = pd.read_csv('david_cameron_tweets.csv')
tm = pd.read_csv('theresa_may_tweets.csv')
lv = pd.read_csv('campaignforleo_tweets.csv')

# Print out first line to make sure data is read ok
display(dc.head(1))
display(tm.head(1))
display(lv.head(1))

# Print rows x columns so we're sure it's ok
display("DC " + str(dc.shape) + ", TM " + str(tm.shape) + ", LV " + str(lv.shape))

,id,created_at,text
0,976807128877928448,2018-03-22 13:05:42,People wrongly believe that dementia is an ine...

,id,created_at,text
0,979752503309946882,2018-03-30 16:09:34,"RT @10DowningStreet: ""I wish you all a very ha..."

,id,created_at,text
0,980032266616393728,2018-03-31 10:41:15,C’mon Munster. Looking forward to a good day i...

'DC (2648, 3), TM (733, 3), LV (3233, 3)'

In [8]:
# created_at is likely to be parsed as text
# We convert dates to a date/time format so we can do 'maths' on them
dc['created_at'] = pd.to_datetime(dc['created_at'], format='%Y-%m-%d %H:%M:%S')
tm['created_at'] = pd.to_datetime(tm['created_at'], format='%Y-%m-%d %H:%M:%S')
lv['created_at'] = pd.to_datetime(lv['created_at'], format='%Y-%m-%d %H:%M:%S')
# If ok, dtype should be datetime64[ns] or <M8[ns]
dc.created_at.dtype
#tm.created_at.dtype
#lv.created_at.dtype

dtype('<M8[ns]')

# Statistics

In [9]:
# Add year/week
dc['YearWeek'] = dc['created_at'].apply(lambda x: "%d/%d" % (x.year, x.week))
tm['YearWeek'] = tm['created_at'].apply(lambda x: "%d/%d" % (x.year, x.week))
lv['YearWeek'] = lv['created_at'].apply(lambda x: "%d/%d" % (x.year, x.week))

In [10]:
dc.head()

,id,created_at,text,YearWeek
0,976807128877928448,2018-03-22 13:05:42,People wrongly believe that dementia is an ine...,2018/12
1,976413836268982272,2018-03-21 11:02:54,Pleasure speaking today at Woodford County Hig...,2018/12
2,976097731411406848,2018-03-20 14:06:48,Another record-breaking year for Alzheimer's R...,2018/12
3,973655173569576960,2018-03-13 20:20:57,Just given evidence to the US Senate Foreign R...,2018/11
4,971334094968770560,2018-03-07 10:37:49,I first met Jo in Sudan where she was helping ...,2018/10

In [15]:
dc_week = dc.groupby(['YearWeek'])
x = dc_week.aggregate(np.count_nonzero)
x = x.reset_index(level=['YearWeek'])
x
#dc_week = x[['YearWeek', 'id']].copy()
#dc_week.columns = ['YearWeek', 'Count']

     id  created_at  text
0     4           4     4
1     8           8     8
2     4           4     4
3     6           6     6
4     2           2     2
5     8           8     8
6     6           6     6
7     4           4     4
8     9           9     9
9    10          10    10
10    4           4     4
11    5           5     5
12    3           3     3
13    5           5     5
14    6           6     6
15    8           8     8
16    5           5     5
17    3           3     3
18    6           6     6
19    8           8     8
20    7           7     7
21    9           9     9
22    4           4     4
23    3           3     3
24    2           2     2
25    7           7     7
26    7           7     7
27    4           4     4
28    6           6     6
29   17          17    17
..   ..         ...   ...
227   4           4     4
228   4           4     4
229   3           3     3
230   2           2     2
231   5           5     5
232   1           1     1
233   1           1     1
234   3           3     3
235   7           7     7
236   2           2     2
237   3           3     3
238   2           2     2
239   2           2     2
240   2           2     2
241   1           1     1
242   3           3     3
243   3           3     3
244   2           2     2
245   1           1     1
246   1           1     1
247   2           2     2
248   3           3     3
249   2           2     2
250   1           1     1
251   3           3     3
252   1           1     1
253   1           1     1
254   1           1     1
255   2           2     2
256   4           4     4

[257 rows x 3 columns]

In [11]:
# Aggregate tweet counts per week
# (TODO there are probably better, and more pythonesque, ways of doing this)
dc_week = dc.groupby(['YearWeek'])
x = dc_week.aggregate(np.count_nonzero)
x = x.reset_index(level=['YearWeek'])
dc_week = x[['YearWeek', 'id']].copy()
dc_week.columns = ['YearWeek', 'Count']

tm_week = tm.groupby(['YearWeek'])
x = tm_week.aggregate(np.count_nonzero)
x = x.reset_index(level=['YearWeek'])
tm_week = x[['YearWeek', 'id']].copy()
tm_week.columns = ['YearWeek', 'Count']

lv_week = lv.groupby(['YearWeek'])
x = lv_week.aggregate(np.count_nonzero)
x = x.reset_index(level=['YearWeek'])
lv_week = x[['YearWeek', 'id']].copy()
lv_week.columns = ['YearWeek', 'Count']

# Make sure it worked
display(dc_week.head(3))
display(tm_week.head(3))
display(lv_week.head(3))

KeyError: "['YearWeek'] not in index"

In [ ]:
# Let's put the values for DC, TM, and LV, together in a single data frame, for simplicity
df = pd.DataFrame(columns=["YearWeek","DC", "TM", "LV"])

i = 0
for year in range (2012, 2018):
    for week in range (1, 52):
        mydate = str(year) + "/" + str(week)
        
        DC = 0
        try:
            DC = dc_week.loc[dc_week['YearWeek'] == mydate].iloc[0]['Count']
        except:
            DC = 0
            
        TM = 0
        try:
            TM = tm_week.loc[tm_week['YearWeek'] == mydate].iloc[0]['Count']
        except:
            TM = 0
            
        LV = 0
        try:
            LV = lv_week.loc[lv_week['YearWeek'] == mydate].iloc[0]['Count']
        except:
            LV = 0
            
        df.loc[i] = [ mydate, int(DC), int(TM), int(LV) ]
        # df[i]['YearWeek'] = mydate
        i = i + 1
        
#df = df.set_index('YearWeek')

In [ ]:
# Plot (DC vs TM)

fig, ax = plt.subplots(figsize=(20, 10))  
index = np.arange(len(df)) # the x locations for the groups
width = 0.35         # the width of the bars

p1 = ax.bar(index, df['DC'], width, color='r')
p2 = ax.bar(index + width, df['TM'], width, color='y')

ax.set_title('Tweets per week, Theresa May vs David Cameron')

# set axis ticks, and make visible only 1 every 20
ax.set_xticks(index + width )
ax.set_xticklabels(df['YearWeek'])
plt.xticks(fontsize=10, rotation='vertical')
for label in ax.get_xticklabels():
    label.set_visible(False)
for label in ax.get_xticklabels()[::20]:
    label.set_visible(True)

# Print legend and labels
ax.legend((p1[0], p2[0]), ('DC', 'TM'))
ax.set_ylabel('Tweets')
ax.set_xlabel('Week')

ax.autoscale_view()

plt.show()

# Content analysis of tweets

In [ ]:
# Just to have the sample dataframe here for comparison
dc.head(5)

In [ ]:
# Here we define dh
words_energy = ['believe', 'belief', 'action', 'do', 
                'take', 'fast', 'quick', 'as soon as possible', 'law', 'legislate', 
                'respond', 'right', 'wrong']

words_friendliness = ['sympathy', 'concern', 'condolences', 'support', 'understand', 
                      'help', 'assist', 'disaster', 'tragedy']

In [ ]:
# Word search -> calculate the two indices per week
import re
import string

def indices(df, textColumn, weekColumn):
    
    
    output  = []
    
    # navigate one row at a time
    for index, row in df.iterrows():

        
        
        # week will be used to index
        week = row[weekColumn]
        
        weekTotalWords = 0
        weekEnergyCount = 0
        weekFriendlinessCount = 0        
    
        # process text to make it searchable (add spaces, replace punctuation)
        text = " " + row[textColumn].lower() + " "
        translator = str.maketrans('','',string.punctuation)
        text = text.translate(translator)
        weekTotalWords = sum([1 for i in text.split()])

            
        # search words in string
        for search_word in words_energy:
            my_regex = r" " + re.escape(search_word) + r" "
            occurrences = len(re.findall(my_regex, text))
            weekEnergyCount= weekEnergyCount + occurrences

        
        for search_word in words_friendliness:
            my_regex = r" " + re.escape(search_word) + r" "
            occurrences = len(re.findall(my_regex, text))
            weekFriendlinessCount = weekFriendlinessCount + occurrences
        
        # Set output
        out = dict()
        out['YearWeek'] = week
        out['weekEnergy'] = weekEnergyCount*100/weekTotalWords
        out['weekFriendliness'] = weekFriendlinessCount*100/weekTotalWords
        output.append(out)
    
    return pd.DataFrame(output)

In [ ]:
# Aggregate by week
dcaggr = dc.groupby(['YearWeek'])['text'].apply(lambda x: ' '.join(x)).reset_index(['YearWeek', 'text'])
tmaggr = tm.groupby(['YearWeek'])['text'].apply(lambda x: ' '.join(x)).reset_index(['YearWeek', 'text'])

# if you need to compare to compare:
# dfme['2012/40'] vs dc[dc['YearWeek']=='2012/40']

In [ ]:
# David Cameron indices
dci = indices(dcaggr, 'text', 'YearWeek')
dci.head()

In [ ]:
# Theresa May indices
tmi = indices(tmaggr, 'text', 'YearWeek')
tmi.head()

In [ ]:
# Plot David Cameron
plt.figure()
fig, ax = plt.subplots(figsize=(20, 10))
ax.scatter(dci.index, dci['weekFriendliness'])
ax.scatter(dci.index, dci['weekEnergy'])

handles, labels = ax.get_legend_handles_labels()
ax.legend(handles, labels)

In [ ]:
# Plot Theresa May
plt.figure()
fig, ax = plt.subplots(figsize=(20, 10))
ax.scatter(tmi.index, tmi['weekFriendliness'])
ax.scatter(tmi.index, tmi['weekEnergy'])

handles, labels = ax.get_legend_handles_labels()
ax.legend(handles, labels)

In [ ]:
tmi['weekEnergy'].max()

In [ ]:
tmi['weekFriendliness'].max()

In [ ]:
dci['weekEnergy'].max()

In [ ]:
dci['weekFriendliness'].max()

# Word counts

In [16]:
dc.head()

,id,created_at,text,YearWeek
0,976807128877928448,2018-03-22 13:05:42,People wrongly believe that dementia is an ine...,2018/12
1,976413836268982272,2018-03-21 11:02:54,Pleasure speaking today at Woodford County Hig...,2018/12
2,976097731411406848,2018-03-20 14:06:48,Another record-breaking year for Alzheimer's R...,2018/12
3,973655173569576960,2018-03-13 20:20:57,Just given evidence to the US Senate Foreign R...,2018/11
4,971334094968770560,2018-03-07 10:37:49,I first met Jo in Sudan where she was helping ...,2018/10

In [178]:
# Create sets of unique words
from collections import Counter

dc['text'] = dc['text'].map(lambda x: x.lower())
tm['text'] = tm['text'].map(lambda x: x.lower())

# Cameron
dc_counter = Counter(" ".join(dc['text']).split(" "))
dc_counter_frame = pd.DataFrame.from_dict(dc_counter, orient='index')
dc_counter_frame.columns = ['count']
dc_counter_frame = dc_counter_frame.sort_values(by=['count'], ascending=False)

# May
tm_counter = Counter(" ".join(tm['text']).split(" "))
tm_counter_frame = pd.DataFrame.from_dict(tm_counter, orient='index')
tm_counter_frame.columns = ['count']
tm_counter_frame = tm_counter_frame.sort_values(by=['count'], ascending=False)

In [189]:
# This function returns the log odds ration for two dataframe, providing the two counter 
import numpy as np
import math
def word_log_odds_ratio(word, df1, df2, df1counter, df2counter):
    # With Laplace smoothing: add 1 instead of returning Nan
    
    df1len = len(" ".join(df1['text']).split(" "))
    df2len = len(" ".join(df2['text']).split(" "))
  
    countdf1 = df1counter[df1counter.index == word]['count']
    countdf2 = df2counter[df2counter.index == word]['count']

    # Laplace smoothing
    if len(countdf1) == 0:
        countdf1 = 1
    else:
        countdf1 = countdf1[0]
    if len(countdf2) ==0:
        countdf2 = 1
    else:
        countdf2 = countdf2[0]
   
    p1 = countdf1 * 100 / df1len
    p2 = countdf2 * 100 / df2len
    logsodd = np.log(p1/p2)

    return logsodd
    
word_log_odds_ratio('me', dc, tm , dc_counter_frame, tm_counter_frame)

-0.80924620640209677

In [202]:
# To generate a log odds dataframe we need two things
# 1. generate a unique set of words (merging the two data frames of DC and TM)
# 2. get the log odds for each word
# In reality, here it's quicker to just create the df, then drop duplicates


logodds = pd.DataFrame(columns=['count'])

# Round 1: David Cameron
for index, row in dc_counter_frame[dc_counter_frame['count']>5].iterrows():
    word = index       
    logs = word_log_odds_ratio(word, dc, tm, dc_counter_frame, tm_counter_frame)
    logodds.loc[word] = pd.Series({'count':logs})
        
# Round 2: Theresa May
for index, row in tm_counter_frame[tm_counter_frame['count']>5].iterrows():
    word = index       
    logs = word_log_odds_ratio(word, dc, tm, dc_counter_frame, tm_counter_frame)
    logodds.loc[word] = pd.Series({'count':logs})

In [203]:
logodds.drop_duplicates().sort_values(by=['count']).head()

                      count
@number10gov:     -5.509727
@theresamay2016   -5.250215
@10downingstreet: -4.662429
#tm4pm            -4.439285
.@theresa_may:    -4.151603

In [200]:
logodds.drop_duplicates().sort_values(by=['count']).to_csv('logsodd.csv')